.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

header{
	width: 100%; 
    height: 100%; 
	margin: auto;
	text-align: center;
	color:#fff;
}

img{
	max-width: 100%;
}

#main_box{
	width: 100%;
	margin: 0 auto;

	
}
form{
	width: 100%;
	
}

fieldset{
	border: 3px solid #ddd;

}

legend{
	text-align:center;
	text-transform: capitalize;
	font-weight: bold;
}

#main_box form ul{
	margin: 0;
}

#main_box form ul li{
	width: auto;
	margin:1em;
}
input{
	width: 90%;
}

input.text{
	padding: 0.5em;
}

input.button {
	background: #1F253D;
	color: #95a5a6;
	font-size: 1em;
	padding: 0.5em;
	width:100px; 
	-webkit-transition: background 1s ease-in-out;
	-moz-transition: background 1s ease-in-out;
	-ms-transition: background 1s ease-in-out;
	-o-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

.results {
	width: auto;
	margin: 2em auto;
	padding:0.5em;
}

.event_list{
	margin: auto;
}


.event_list div{
	padding: 1px;
	border: 2px solid #ddd;
	border-radius: 10px;
	margin-top: 1em;
	text-align: center;
	padding:0.3em;


}

.event_list div h1{
	font-weight: bold;
	font-family: 'Stardos Stencil', cursive;
	font-size: 20px;
	text-transform: capitalize;
}



.event_list div a{
	color: blue;
	cursor: pointer;
	text-decoration: none;
}



.event_list div img{
	width: 200px;
	height: 200px;
    border-radius: 10px;
    float:none;

}

.description{
	display: none;
	font-family: 'Stardos Stencil', cursive;
	font-size:14px; 
}

.venueName, .date{
	font-family: 'Stardos Stencil', cursive;
    padding-left: 0.5em;
    margin-top: 5px;
    font-size:12px; 
    font-weight: bold;
	text-transform: capitalize;
}

.wrapper{
	display: none;
}

hr{
	width: 73%;

}

#footer{
	width: 73%;
	margin: 2em auto;
	padding:0.5em;
	text-align: center;
}

#footer span{
	text-indent: 2px;
	color:#bbb;
}






@media (min-width:500px) {

.event_list div{
	text-align: left;
}
.event_list div h1{
	font-size: 26px;
	text-transform: capitalize;
}

.event_list div img{
	width: 200px;
	height: 200px;
    border-radius: 10px;
    float:left;

}
.description{
	display: block;
}

}


@media screen and (min-width: 700px) and (max-width: 1000px) { 


}



@media (min-width: 1024px) {


#main_box{
	width: 73%;	
}


#main_box form{
	width: 50%;
	float:left;
	margin-left: 0;
}
.description{
	display: block;
}
/*gallery style*/
.wrapper{
	display: block;
	width: 48%;
	float: right;

}

.slider {
  margin: 10px 0;
  width: 480px; /* Update to your slider width */
  height: 250px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.slider img{
  width: 480px; 
  height: 250px;
}


.results {
	width: 73%;
	margin: 2em auto;
	padding:0.5em;
}

.event_list div{
	padding-left:3px;
	border: 2px solid #ddd;
	border-radius: 10px;
	margin-top: 1em;
	

}



}

